# Python 的常用数据类型

Python 的常用数据类型有：数字，字符串，列表，元组，字典。

## 数字类型：整数型，浮点型

Python 中定义一个数字型变量特别方便，直接用等号赋值。例如：

In [3]:
a = 1
a

1

In [4]:
b = 2.2
b

2.2

在上面的这段代码中，定义了一个数字型变量 a，并将其赋值为 1；定义了一个浮点型变量 b，并将其赋值为 2.2。

Python 并不像其他的一些编程语言那样需要明确数字的细分类型：整数型（int），浮点型（float）等。Python 可以自己判断数字类型，例如在上面的代码中，由于 a 没有小数点，Python 认为 a 是整数型，b 带了小数点，Python 认为 b 是浮点型。

我们可以利用 type 函数检验下：

In [5]:
type(a)

int

In [6]:
type(b)

float

Python 中数字类型的互换也非常方便，只需要将数据类型作为函数名即可，如下面代码：

In [7]:
float(a) # 将整形数据 a 转化为浮点型数据

1.0

In [8]:
int(b) # 将浮点型数据 b 转化为整形数据

2

对于四则运算：加减乘除，则用 + - * / () 符号直接输入即可：

In [9]:
1 + 2

3

In [10]:
20 - 5 * 2

10

In [11]:
(10 - 5) / 2

2.5

In [12]:
9 / 5

1.8

求余数用百分号 %，幂运算用两个星号 **，例如：

In [13]:
8 % 5

3

In [14]:
3 ** 2

9

对数字类型还有一些其他运算，例如求绝对值用函数``abs``，四舍五入函数用``round``，求最大值函数``max``，求最小值函数``min``：

In [15]:
abs(-2.5)

2.5

In [16]:
round(3.4)

3

In [17]:
round(3.45, 1) # 四舍五入保留一位小数

3.5

In [18]:
max(10, 20)

20

In [19]:
min(10, 20)

10

更复杂的数学运算需要调用数学包 math，例如：

In [20]:
import math

math.sin(math.pi/2) # 正弦函数

1.0

In [24]:
math.log10(100) # 对数函数

2.0

## 字符串类型

字符串也是 Python 中比较常见的数据类型，可以用单引号或双引号表示字符串。例如：

In [25]:
name = "chen"
name

'chen'

In [26]:
city = 'Beijing'
city

'Beijing'

字符串的拼接直接用加号 + 即可：

In [27]:
name+city

'chenBeijing'

还有一种常用的拼接方式是用``join``函数：str.join(sequence)，将序列中的元素以指定的字符连接生成一个新的字符串。例如:

In [28]:
','.join(['chen', 'zhang', 'li'])  # 将三个字符串用逗号拼接

'chen,zhang,li'

In [29]:
'-'.join(['2020', '05', '13'])  # 将三个字符串用横线拼接

'2020-05-13'

若重复输出字符串，可以使用星号 *：

In [30]:
name = 'chen'
name * 2

'chenchen'

可以将字符串视为一个数组，利用数组的索引得到字符串中的字符，例如：

In [31]:
name[0] # 0 代表第 1 个索引

'c'

In [32]:
name[0:3] # 截取字符串中的一部分，遵循“左闭右开”原则，得到第 1 到第 3 个字符

'che'

判断某个字符或某段字符串是否在字符串中，可以用``in``或``not in``：

In [33]:
'c' not in name

False

In [34]:
'Bei' in city

True

Python 中常用的字符串处理函数有：

<table>   
    <tr style="border-top:solid">
        <td style="text-align:left">capitalize(str)</td>
        <td style="text-align:left">将字符串 str 内容转为大写</td>
    </tr>
    <tr>
        <td style="text-align:left">lower(str)</td>
        <td style="text-align:left">将字符串 str 内容转为小写</td>
    </tr>
    <tr>
        <td style="text-align:left">len(str)</td>
        <td style="text-align:left">字符串 str 的长度</td>
    </tr>
    <tr>
        <td style="text-align:left">isnumeric(str)</td>
        <td style="text-align:left">如果字符串 str 中只包含数字字符，则返回 True，否则返回 False</td>
    </tr>
    <tr style="border-bottom:solid">
        <td style="text-align:left">isalpha(str)</td>
        <td style="text-align:left">如果字符串 str 的字符都是字母则返回 True, 否则返回 False</td>
    </tr>
</table>
<br />